<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="软工课设">
    <meta name="author" content="曹泽昊">

    <title>宝石鉴定系统-会员管理-删除会员</title>

    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/gem/">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">宝石鉴定系统</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="/gem/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>主页</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                鉴定功能
            </div>

            <li class="nav-item">
                <a class="nav-link" href="/gem/page1/">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>鉴定收样</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/gem/page2/">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>样品检测</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                管理功能
            </div>

            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/gem/page3/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>任务管理</span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/gem/page4/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>证书管理</span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/gem/page5/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>报表功能</span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/gem/page6/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>会员管理</span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>系统管理</span></a>
            </li>
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link" href="/admin/">
                    <i class="fas fa-fw fa-table"></i>
                    <span>日志管理</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Message -->
{#            <div class="sidebar-card">#}
{#                <img class="sidebar-card-illustration mb-2" src="/static/img/undraw_rocket.svg" alt="">#}
{#                <p class="text-center mb-2">#}
{#                    <div><strong>计创18小组制作</strong> </div>#}
{#                    <div>曹泽昊 程振荣</div>#}
{#                    <div>关絜匀 宁文奇</div>#}
{#                    <div>用于2020秋软工课设</div>#}
{#                </p>#}
{#            </div>#}

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">系统管理员</span>
                                <img class="img-profile rounded-circle"
                                    src="/static/img/undraw_profile.svg">
                            </a>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">会员管理-删除会员</h1>
                    </div>

                    <!-- Content Row -->
                <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">删除...</h1>
                            </div>
                            <form class="user" method="post">

                                {% csrf_token %}

                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="a1"
                                        placeholder="会员名">
                                </div>


                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    删除
                                </button>
                                <a href="/gem/page6/" class="btn btn-primary btn-user btn-block">
                                    取消
                                </a>
                            </form>

                            {% if messages %}
                                <script>
                                    {% for msg in messages %}
                                        alert('{{ msg.message }}');
                                    {% endfor %}
                                </script>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; 曹泽昊 程振荣 关絜匀 宁文奇</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->


    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/static/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/static/js/demo/chart-area-demo.js"></script>
    <script src="/static/js/demo/chart-pie-demo.js"></script>

    </div>
</body>

</html>